'atom-workspace':
  'alt-g': 'git-panel:toggle-focus'

'.git-panel-Git':
  'cmdorctrl-enter': 'git-panel:commit'

'.git-panel-StagingView':
  'tab': 'core:focus-next'
  'shift-tab': 'core:focus-previous'
  'o': 'git-panel:jump-to-file'
  'left': 'core:move-left'
  'cmdorctrl-left': 'core:move-left'

'.git-panel-CommitView button':
  'tab': 'core:focus-next'
  'shift-tab': 'core:focus-previous'

'.git-panel-StagingView.unstaged-changes-focused':
  'cmdorctrl-backspace': 'git-panel:discard-changes-in-selected-files'

'.git-panel-CommitView-editor atom-text-editor:not([mini])':
  'tab': 'core:focus-next'
  'shift-tab': 'core:focus-previous'
  'enter': 'git-panel:commit'
  'shift-enter': 'editor:newline'

'.git-panel-CommitView-commitPreview':
  'left': 'git-panel:dive'
  'enter': 'native!'
  'cmdorctrl-left': 'git-panel:dive'

'.git-panel-RecentCommits':
  'left': 'git-panel:dive'
  'enter': 'git-panel:dive'
  'tab': 'core:focus-next'
  'shift-tab': 'core:focus-previous'
  'cmdorctrl-left': 'git-panel:dive'

'.git-panel-FilePatchView atom-text-editor:not([mini])':
  # Only support unprefixed file patch keybindings until MultiFilePatch is
  # editable
  '/': 'git-panel:toggle-patch-selection-mode'
  'backspace': 'git-panel:discard-selected-lines'
  'enter': 'core:confirm'
  'right': 'git-panel:surface'
  'o': 'git-panel:jump-to-file'
  'cmdorctrl-/': 'git-panel:toggle-patch-selection-mode'
  'cmdorctrl-backspace': 'git-panel:discard-selected-lines'
  'cmdorctrl-enter': 'core:confirm'
  'cmdorctrl-right': 'git-panel:surface'
  'cmdorctrl-o': 'git-panel:jump-to-file'

'.git-panel-FilePatchView--hunkMode atom-text-editor:not([mini])':
  'down': 'git-panel:select-next-hunk'
  'up': 'git-panel:select-previous-hunk'

'.git-panel-Prompt-input':
  'enter': 'core:confirm'
  'esc': 'tool-panel:unfocus'

'.git-panel-Dialog':
  'tab': 'core:focus-next'
  'shift-tab': 'core:focus-previous'

'.git-panel-Dialog input':
  'enter': 'core:confirm'

'.git-panel-CoAuthorForm input':
  'enter': 'core:confirm'

'.git-panel-TabbableWrapper':
  'down': 'git-panel:selectbox-down'
  'up': 'git-panel:selectbox-up'
  'enter': 'git-panel:selectbox-enter'
  'tab': 'git-panel:selectbox-tab'
  'backspace': 'git-panel:selectbox-backspace'
  'pageup': 'git-panel:selectbox-pageup'
  'pagedown': 'git-panel:selectbox-pagedown'
  'end': 'git-panel:selectbox-end'
  'home': 'git-panel:selectbox-home'
  'delete': 'git-panel:selectbox-delete'
  'escape': 'git-panel:selectbox-escape'

'.git-panel-CommitView-coAuthorEditor':
  'shift-backspace': 'git-panel:co-author-exclude'
