.git-panel-BranchMenuView .hidden {
  display: none;
}
.git-panel-BranchMenuView-selector {
  display: flex;
  align-items: center;
}
.git-panel-BranchMenuView-item {
  margin: calc(var(--component-padding) / 2);
}
.git-panel-BranchMenuView .icon-sync::before {
  animation: git-panel-BranchViewSync-animation 2s linear 30;
}
@keyframes git-panel-BranchViewSync-animation {
  100% {
    transform: rotate(360deg);
  }
}
.git-panel-BranchMenuView .icon-git-branch {
  flex-basis: 16px;
  flex-grow: 0;
  flex-shrink: 0;
  color: var(--text-color-subtle);
}
.git-panel-BranchMenuView .icon-git-branch::before {
  margin-right: 0;
  text-align: center;
}
.git-panel-BranchMenuView-select {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}
.git-panel-BranchMenuView-button {
  flex-grow: 0;
  flex-shrink: 0;
}
.git-panel-BranchMenuView-editor {
  flex: 1;
}
.git-panel-BranchMenuView-editor atom-text-editor,
.git-panel-BranchMenuView-editor atom-text-editor .cursor-line {
  background-color: inherit;
}
.git-panel-BranchMenuView-editor atom-text-editor[mini] {
  font-size: inherit;
  text-align: left;
}
.git-panel-BranchMenuView-editor atom-text-editor[readonly] {
  color: var(--text-color-subtle);
  pointer-events: none;
}
.git-panel-BranchMenuView-message {
  max-height: 20em;
  margin: calc(var(--component-padding) / 2);
  padding: calc(var(--component-padding) / 2);
  line-height: 1.4;
  white-space: normal;
  text-align: left;
  overflow-y: auto;
  border: 1px solid var(--base-border-color);
  border-radius: var(--component-border-radius);
  background-color: var(--inset-panel-background-color);
}
.git-panel-BranchMenuView-message:empty {
  display: none;
}
