.git-panel-CoAuthorForm {
  display: flex;
  flex-direction: column;
  margin-top: var(--component-padding);
  padding: calc(var(--component-padding) / 2);
  border-radius: var(--component-border-radius) var(--component-border-radius) 0 0;
  border: 1px solid var(--base-border-color);
  border-bottom: 0;
  background-color: var(--syntax-background-color);
}
.git-panel-CoAuthorForm-row {
  display: flex;
  align-items: center;
  margin: calc(var(--component-padding) / 2);
}
.git-panel-CoAuthorForm-row.has-buttons {
  margin: 0;
  flex-wrap: wrap;
}
.git-panel-CoAuthorForm-row.has-buttons .btn {
  flex: 1;
  margin: calc(var(--component-padding) / 2);
}
.git-panel-CoAuthorForm-row.has-buttons .btn-primary {
  flex: 4;
}
.git-panel-CoAuthorForm-label {
  min-width: 6ch;
}
.git-panel-CoAuthorForm + .git-panel-CommitView-coAuthorEditor {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
