@import "variables";

// Dock overrides
// Here ALL the overrides when a pane/panel gets used as a dock item
// It's not too high of a priority, but still good to check (and fix) once in a while

// Git Panel (in bottom dock) ----------------------------------------------

atom-dock.bottom {
  .git-panel-Git {
    flex-direction: row;
  }

  .git-panel-StagingView {
    display: contents; // make these invisible to layout
  }

  .git-panel-Git > div {
    flex: 1;
  }

  .git-panel-StagedChanges {
    border-left: 1px solid @base-border-color;
    border-right: 1px solid @base-border-color;
  }

  .git-panel-StagingView-header {
    flex-wrap: wrap;
  }
  .git-panel-StagingView-group:first-child .git-panel-StagingView-header {
    border-top: 1px solid @base-border-color;
  }

  .git-panel-RecentCommits {
    max-height: none;
    border-left: 1px solid @base-border-color;
  }
}

// GitHub Pane (in left/right dock) ----------------------------------------------

atom-dock.left .git-panel-IssueishDetailView,
atom-dock.right .git-panel-IssueishDetailView {
  // Header
  &-header {
    display: block;
    padding: @component-padding;
    background-color: @tool-panel-background-color;
  }
  &-avatar {
    position: absolute;
  }
  &-avatarImage {
    width: 20px;
    height: 20px;
  }
  &-headerRow:nth-child(1) {
    padding-left: 25px; // space for avatar
    overflow: hidden;
  }
  &-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &-checkoutButton {
    margin: @component-padding 0 0 0;
  }

  &-tablist {
    flex-wrap: wrap;
  }
  &-tab {
    padding: (@component-padding / 2) @component-padding;
  }
  &-tab-icon {
    display: none;
  }

  // [Overview]
  &-overview {
    font-size: 0.9em;

    & > .git-panel-DotComMarkdownHtml,
    .timeline-item {
      padding: @component-padding;
    }
  }

  // [Build Status]
  &-buildStatus {
    padding: 0;
  }
  .git-panel-PrStatuses {
    &-header {
      border-top: none;
    }
    &-header,
    &-list-item {
      border-radius: 0;
      border-left: none;
      border-right: none;
    }
  }

  // [Commits]
  .git-panel-PrCommitsView-commitWrapper {
    padding: 0;
  }
  .git-panel-PrCommitView-container {
    font-size: 0.9em;
    border-left: none;
    border-right: none;

    &:first-child {
      border-top: none;
      border-radius: 0;
    }
    &:last-child {
      border-bottom: none;
      border-radius: 0;
    }
  }
}

// Commit Detail (in left/right dock) ----------------------------------------------

atom-dock.left .git-panel-CommitDetailView,
atom-dock.right .git-panel-CommitDetailView {
  &-header {
    background-color: @tool-panel-background-color;
  }
  &-commit {
    padding: @component-padding @component-padding 0 @component-padding;
  }
  &-meta {
    margin-bottom: @component-padding;
  }
  &-moreText {
    padding: @component-padding 0;
  }
}
